<section id="home" >
    <div class="page-background" *ngIf="isLoggedIn">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="main p-2">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" [(ngModel)]="searchKey"
                                (keyup)="search()" class="form-control" placeholder=" Search by name">
                        </div> 
                    </div>
                    <div class="row">
                        <app-character *ngFor="let character of characters" [character]="character" (click)="goToCharacterDetail(character.id)" class="col-lg-3 col-md-6 p-4">
                        </app-character>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-auto">
            <p-paginator (onPageChange)="onPageChange($event)" [first]="0" [rows]="rows" [totalRecords]="totalRecords"></p-paginator>
    
        </div>
    </div>
  
    <div *ngIf="!isLoggedIn">
        <!-- Kullanıcı girişi yapılmamışsa gösterilecek uyarı -->
        <div class="alert alert-warning" role="alert">
            Lütfen giriş yapınız!
        </div>
    </div>
</section>
